<div class="question-container">

  <div class="question-wrapper">
    <div class="question"><%= @question %></div>
    <div class="signature">- You</div>
  </div>

  <div class="question-wrapper">
    <div class="question"><%= @coach_answer %></div>
    <div class="signature">- Coach</div>
  </div>

  <div class="a-new-question">
    <%= link_to "Ask a new question", ask_path %>
  </div>
</div>

