<div class="question-container">

  <div class="question-wrapper">
    <form action="/answer" method="get">
      <div class="form-group">
        <label for="question">Speak to your coach</label>
        <input class="form-control" type="text" id="question" name="query" placeholder="What time is it?">
      </div>
      <input type="submit" value="Go on!" class="btn btn-primary">
    </form>
  </div>
</div>
